<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="xiaoming" class="com.test.aop.modle.Game"/>
<!--        静态工厂方法-->
        <bean id="staticfactory" class="com.test.aop.ClientService" factory-method="creatInstance"/>
        <!-- the factory bean, which contains a method called createInstance() -->
        <bean id="serviceLocator" class="com.test.aop.DefaultServiceLocator">
            <!-- inject any dependencies required by this locator bean -->
        </bean>

        <!-- the bean to be created via the factory bean -->
        <bean id="clientService"
              factory-bean="serviceLocator"
              factory-method="createClientServiceInstance"/>
        <bean id="myResourceLoader" class="com.test.aop.MyResource.MyResourceLoader"/>
    </beans>
</beans>